

.post-body {
    border-bottom: 1px solid rgb(193, 193, 193);
    padding: 1.25rem;

    .date-post {
        font-size: 10px;
    }

    img {
        width: 100%;
    }
}


.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .post-info {

        .date {
            font-size: 10px;

        }
    }
}

.post-header-index {
    align-items: center;
    justify-content: space-between;

    .post-header-title {
        font-size: 18px;
        font-weight: bold;
    }
}

.edit-zone {
    position: relative;

    .hidden-menu{
        position: absolute;
        top: 30px;
        right: 0px;
        border: 1px solid rgb(193, 193, 193);
        background-color: $body-bg;
        border-radius: 3px;
        padding: 6px;
        box-shadow: 0 0 3px grey;
        z-index: 1001;

        &-inner {
            display: flex;

            a {
                padding: 0 6px;
                color: #212529;
            }
        }

    }
}
