.post-body {
    border-bottom: 1px solid rgb(193, 193, 193);
    padding: 1.25rem;

    .date-post {
        font-size: 10px;
    }

    img {
        width: 100%;
    }
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .post-info {
        .date, .post-category {
            font-size: 12px;
        }
    }

    .post-edit {
        display: flex;

        button {
            margin: 0 3px;
        }
    }
}

.post-header-index {
    align-items: center;
    justify-content: space-between;

    .post-header-title {
        font-size: 18px;
        font-weight: bold;
        font-family: $font-boolpress;
    }
}

.edit-zone {
    position: relative;

    .hidden-menu {
        position: absolute;
        top: 30px;
        right: 0px;
        border: 1px solid rgb(193, 193, 193);
        background-color: $body-bg;
        border-radius: 3px;
        padding: 6px;
        box-shadow: 0 0 3px grey;
        z-index: 1001;
        display: none;

        &.show {
            display: block;
        }

        &-inner {
            display: flex;

            a {
                padding: 0 6px;
                color: #212529;
            }
        }
    }
}

.navbar-custom {
    font-family: $font-boolpress;
    font-size: 22px;

    svg {
        width: 30px;

        path {
            fill: #fff;
        }
    }
}

.erase-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    display: none;

    &.show {
        display: block;
    }
}
